rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() { return request.auth != null; }
    function isUser(uid) { return isAuth() && request.auth.uid == uid; }
    function isAdmin() {
      return isAuth() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{uid} {
      allow read: if isAuth();
      allow create: if isUser(uid)
        && request.resource.data.attackElo == 1000
        && request.resource.data.defenseElo == 1000
        && request.resource.data.soloElo == 1000
        && request.resource.data.wins == 0
        && request.resource.data.losses == 0
        && request.resource.data.careerWins == 0
        && request.resource.data.careerLosses == 0;
      allow update: if isAuth()
        && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['attackElo'])
            || math.abs(request.resource.data.attackElo - resource.data.attackElo) <= 50)
        && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['defenseElo'])
            || math.abs(request.resource.data.defenseElo - resource.data.defenseElo) <= 50)
        && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['soloElo'])
            || math.abs(request.resource.data.soloElo - resource.data.soloElo) <= 50)
        || isAdmin();

      match /seasonStats/{seasonId} {
        allow read: if isAuth();
        allow write: if isAuth();
      }
    }

    match /matches/{matchId} {
      allow read: if isAuth();
      allow create: if isAuth();
      allow update: if isAuth()
        && request.auth.uid in resource.data.participants
        && resource.data.status != 'completed';
      allow update: if isAuth()
        && request.auth.uid in resource.data.participants
        && resource.data.status == 'completed'
        && request.time.toMillis() <= resource.data.endedAt.toMillis() + 600000;
      allow delete: if isAuth()
        && request.auth.uid == resource.data.createdBy;
    }

    match /relationships/{id} {
      allow read: if isAuth();
      allow create: if isAuth()
        && request.auth.uid in request.resource.data.users;
      allow update: if isAuth()
        && request.auth.uid in resource.data.users;
    }

    match /seasons/{seasonId} {
      allow read: if isAuth();
      allow write: if isAdmin();
    }

    match /config/seasons {
      allow read: if isAuth();
      allow write: if isAdmin();
    }
  }
}
